.border {
  border-radius: 12px;
  overflow: hidden;
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.5);
}

.imageContainer {
  border-radius: 8px;
  border: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 110%;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -5%;
  margin-top: 1%;
}

h3 {
  font-family: var(--bebas);
  text-align: center;
  font-size: 2em;
}