.main {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
}

.features {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 2%;
}

.temario {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 3%;
}