.container {
  width: 100vw;
  height: 500px;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-70px);
  background-color: rgba(255, 255, 255, 0.5);
  width: 30%;
  min-height: 50%;
  border-radius: 20px;
}

.spinner {
  width: 100px !important;
  height: 100px !important;

  border: 10px solid currentColor;
  border-right-color: transparent;

  margin: 70px;
}

.p {
  font-size: 1em;
  font-family: var(--montserrat);
}