.article {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 2%;
}

.container {
  display: flex !important;
  flex-direction: row !important;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.imageContainer {
  max-width: 500px;
  border-radius: 8px;
  overflow: hidden;
}

.coverImage {
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-family: var(--bebas);
}

.p, .b {
  font-family: var(--montserrat);
}

.p {
  margin-top: 3%;
}